[package]
name = "miden-node-store"
version.workspace = true
description = "Miden node's state store component"
readme = "README.md"
keywords = ["miden", "node", "store"]
edition.workspace = true
rust-version.workspace = true
license.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
deadpool-sqlite = { version = "0.9.0", features = ["rt_tokio_1"] }
directories = { version = "5.0" }
figment = { version = "0.10", features = ["toml", "env"] }
hex = { version = "0.4" }
miden-lib = { workspace = true }
miden-node-proto = { workspace = true }
miden-node-utils = { workspace = true }
miden-objects = { workspace = true }
prost = { workspace = true }
rusqlite = { version = "0.32.1", features = ["array", "buildtime_bindgen", "bundled"] }
rusqlite_migration = { version = "1.0" }
serde = { version = "1.0", features = ["derive"] }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["fs", "net", "macros", "rt-multi-thread"] }
tokio-stream = { workspace = true, features = ["net"] }
toml = { version = "0.8" }
tonic = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }

[dev-dependencies]
figment = { version = "0.10", features = ["toml", "env", "test"] }
miden-node-utils = { workspace = true, features = ["tracing-forest"] }
miden-objects = { workspace = true, features = ["testing"] }
