[Unit]
Description=Miden node
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
Environment="RUST_LOG=info"
ExecStart=/usr/bin/miden-node start --config /etc/opt/miden-node/miden-node.toml node
WorkingDirectory=/opt/miden-node
User=miden-node
RestartSec=5
Restart=always
