[Unit]
Description=Miden node
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
Environment="RUST_LOG=info"
ExecStart=miden-node start --config /etc/miden/miden-node.toml
WorkingDirectory=/opt/miden
User=miden
RestartSec=5
Restart=always