[Unit]
Description=Miden faucet
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
Environment="RUST_LOG=info"
ExecStart=/usr/bin/miden-faucet start --config /etc/opt/miden-faucet/miden-faucet.toml
WorkingDirectory=/opt/miden-faucet
User=miden-faucet
RestartSec=5
Restart=always
