# Miden gRPC API Reference
## Table of Contents
- [Endpoints](#endpoints)
{{range .Files}}{{range .Services}}  - [`{{.FullName | replace ".Api" ""}}` endpoints](#{{.FullName | lower | replace ".api" ""}}-endpoints)
{{range .Methods}}    - [{{.Name}}](#rpc-{{.Name | lower}})
{{end}}{{end}}{{end}}- [Messages](#messages)
{{range .Files}}{{if .HasMessages}}  - [{{.Name}}](#{{.Name | lower | replace "." "-"}})
{{range .Messages}}    - [{{.LongName}}](#{{.FullName | lower | replace "." "-"}})
{{end}}{{end}}{{end}}- [Scalar Value Types](#scalar-value-types)

## Endpoints

{{range .Files}}{{range .Services -}}

### `{{.FullName | replace ".Api" ""}}` endpoints
{{.Description}}
{{range .Methods -}}

#### <a name="rpc-{{.Name | lower}}" />{{.Name}}
{{ .Description}}
> **rpc** {{.Name}}([{{.RequestType}}](#requests-{{.RequestType | lower}})) returns [{{.ResponseType}}](#responses-{{.ResponseType | lower}})

{{end}}{{end}}{{end}}
## Messages
{{range .Files}}{{if .HasMessages}}
### <a name="{{.Name | lower | replace "." "-"}}" />{{.Name}}
{{range .Messages}}
#### <a name="{{.FullName | lower | replace "." "-"}}" />{{.LongName}}
{{.Description}}

##### Fields
{{if .HasFields}}{{range .Fields -}}- `{{.Name}}`: {{if .IsMap}}[map] {{else}}{{if .Label}}[{{.Label}}] {{end}}{{end}}[`{{.FullType}}`](#{{.FullType | lower | replace "." "-"}}) — {{if .Description}}{{nobr .Description}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}}{{else}}none{{end}}
{{end}}{{else}}No fields{{end}}
{{end}}{{end}}{{end}}

# Scalar Value Types

| .proto Type | Notes | C++ Type | Java Type | Python Type |
| ----------- | ----- | -------- | --------- | ----------- |
{{range .Scalars -}}
  | <div><h4 id="{{.ProtoType | lower | replace "." ""}}" /></div><a name="{{.ProtoType | lower | replace "." "-"}}" /> `{{.ProtoType}}` | {{.Notes}} | `{{.CppType}}` | `{{.JavaType}}` | `{{.PythonType}}` |
{{end}}